.cardItem {
  border-radius: 1rem;
  text-decoration: none;
  width: 220px;
  background: var(--offwhite-color);
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
  margin: 0.5rem 0.5rem;
  cursor: pointer;
  display:inline-block;
  
}
.ant-card-cover{
  & img{
    border-radius: 1rem;
  }
}

.cardItem:hover {
  transform: scale(1.03);
}

.cardItem-info {
  color: var(--dark-color);
  text-align: center;
}

.cardItem-name {
  font-size: 1rem;
  padding: 5px;
}

.cardItem-rating {
  color: var(--secondary-color);
  padding: 5px;
}

