.header{
    .searchbar{
        width: 60px;
        display: flex;
        align-items: stretch;
        justify-content: center;
      }
}
  #root > div > div > span > span > span.ant-input-affix-wrapper.ant-input-affix-wrapper-lg{
    width: 60px;
    display: flex;
    align-items: stretch;
    justify-content: center;
  }